/* animations*/

@keyframes bounce-up {
0%,100%{transform:translateY(0)}
50%{transform:translateY(-15px)}
}
.animated-arrow{display:inline-block;animation:bounce-up 2s ease-in-out infinite}
@keyframes rotate-clockwise {
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}
.rotate-clockwise{display:inline-block;animation:rotate-clockwise 3s linear infinite}
.card-counter{background:#fff;padding:20px 0;border-radius:20px;box-shadow:0 15px 40px #00000014;text-align:center;width:220px}
.ignite-lead{margin-top:60px;width:66%}
svg{width:180px;height:100px}
path{fill:none;stroke-width:14;stroke-linecap:round}
.bg{stroke:#eee}
.progress{stroke:#b9f04d;stroke-dasharray:251;stroke-dashoffset:251;animation:fillArc 2.6s ease-out forwards}
@keyframes fillArc {
to{stroke-dashoffset:50}
}
.value{font-size:32px;font-weight:700;margin-top:-56px}
.label{font-size:14px;color:#777;margin-top:4px;font-family:'Plus Jakarta Sans';}
@keyframes heartbeat {
0%,100%{transform:scale(1)}
14%{transform:scale(1.1)}
28%{transform:scale(1)}
42%{transform:scale(1.1)}
70%{transform:scale(1)}
}
.heartbeat{display:inline-block;animation:heartbeat 1.9s ease-in-out infinite;transform-origin:center}
.scrolling-words-box{height:1.03em;overflow:hidden;display:inline-block}
.scrolling-words{display:flex;flex-direction:column;animation:scrollUp 5s linear infinite}
.scrolling-words span{height:1.2em;display:flex;align-items:center;color:#FFD45D}
@keyframes scrollUp {
15%,25%{transform:translateY(-20%)}
40%,50%{transform:translateY(-40%)}
65%,75%{transform:translateY(-60%)}
90%,100%{transform:translateY(-80%)}
}