<section class="footer bg-white">
  <div class="container-cust">

    <div class="d-flex flex-column flex-md-row justify-content-between flex-wrap ftr-cotr gap-3">

      <div class="mb-4 col-lg-4 col-md-6">
        <img src="../Icons/IAS Spark new logo.svg" alt="IAS Spark" class="footer-logo mb-3">
        <p class="footer-text text-lg">
          Helping children grow into thoughtful, responsible leaders through mentorship, values, and real-world learning.
        </p>

        <div class="social-links mt-3">
          <a href="#"><img src="Icons/social-icon1.svg"></a>
          <a href="https://www.facebook.com/profile.php?id=61588035070692#"><img src="Icons/social-icon2.svg"></a>
          <a href="#"><img src="Icons/social-icon3.svg"></a>
          <a href="https://www.instagram.com/iasspark?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="Icons/social-icon14.svg"></a>
        </div>
      </div>

      <div class="mb-4 col-lg-2 col-md-3 ftr-cot1">
        <h5 class="fw-bold text-xl">Menu</h5>
        <ul class="list-unstyled d-flex flex-column gap-3">
          <li><a href="index.html#about" class="active text-lg text-decoration-none" style="color:#5A5A5A;">About Us</a></li>
          <li><a href="index.html#child-learn" class="active text-lg text-decoration-none" style="color:#5A5A5A;">Program</a></li>
          <li><a href="index.html#how-it-works" class="active text-lg text-decoration-none" style="color:#5A5A5A;">How It Works</a></li>
          <li><a href="index.html#benefits" class="active text-lg text-decoration-none" style="color:#5A5A5A;">Benefits</a></li>
        </ul>
      </div>

      <div class="mb-4 footer-col col-lg-5 col-md-12">
        <h1 class="text-5xl">
          <span style="color:#FFD45D;">Learn Today.</span><br>
          Lead Tomorrow.
        </h1>
      </div>

    </div>

    <div style="border-top:1px solid #D5DBE2;"
      class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-start align-items-md-center pt-3 mt-3 ftr-cot2">

      <p class="mb-2 mb-md-0 text-lg">© 2026 IAS Spark. All rights reserved.</p>

      <div class="ftr-cot2">
        <a href="../refund-policy.html" class="text-decoration-none me-3 text-lg">
          Refund Policy <span class="ms-2">|</span>
        </a>

        <a href="../privacy-policy.html" class="text-decoration-none text-lg">
          Privacy Policy
        </a>

        <a href="../terms-&-conditions.html" class="text-decoration-none text-lg">
          <span class="ms-2 pe-3">|</span> Terms and conditions
        </a>
      </div>

    </div>

  </div>
</section>