<header class="site-header">
  <div class="nav-container">
    <a href="/" class="logo">
      <img src="../Icons/IAS Spark new logo.svg" alt="Logo">
    </a>

<nav class="nav-menu" id="navMenu">
  <a href="index.html#about" class="active">About Us</a>
  <a href="index.html#child-learn">Program</a>
  <a href="index.html#how-it-works">How It Works</a>
  <a href="index.html#benefits">Benefits</a>
 
</nav>
    
    <div class="hdr-ct">
      <a href="index.html#get-in" class="btn-primary-custom">Contact Us</a>
    </div>

    <!-- Animated Hamburger Button -->
    <button class="menu-toggle" id="menuToggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
